:root {
    --padding-left: 25px;
    --light-gray-background: #f6f5f5;
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.image-sidebar {
    background-image: url(./images/andrea-davis-aND5_wlo5VM-unsplash.jpg);
    background-size: cover;
    width: clamp(200px, 38.2%, 640px);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    height: 14.6vh;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: white;
    background-color: #00000050;
    margin-top: 50%;
    padding: 30px 20px;
}

img {
    height: 100%;
}

.sidebar-footer {
    margin-bottom: 20px;
    margin-top: auto;
    text-align: center;
    color: white;
}

a {
    color: white;
}

h1 {
    margin: 0;
}

.form-container {
    width: 70%;
    background-color: var(--light-gray-background);
    
}

header {
    padding-left: var(--padding-left);
}

form {
    padding-left: var(--padding-left);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 5px 5px lightgray;
    background-color: white;
    display: flex;
    flex-wrap: wrap;

}

input {
    display: inline-block;
}